
.info-box{
    border-bottom: 1px solid red;
}
.each{
    border: 3px solid yellow;
}
.each1{
    border: 3px solid blue;
}
.each2{
    border: 3px solid green;
}
.each3{
    border: 3px solid red;
}
h2{
    font-style:italic;
}

.chain{
    list-style:none;
    padding:0;
    display: flex;
}
.chain li{
    margin-right: 5px;
    font-size: 18px;

}
.chain li:first-child::before{
    content: " >> ";
    color: white;
}
.chain li::after{
    content: " / ";
    color:white;
}
.chain li:last-child::after{
    content: "";
}
/* Select even-numbered paragraphs and add an icon before them */
p:nth-of-type(even)::before {
    content: " 👉 ";  /* You can use any emoji or Unicode character */
    font-size: 16px;
    color: blue;  /* Change the color if needed */
}
p:not(.spec_p):not(:last-of-type){
    font-size:20px;
}
