
.info-box{
    border-bottom: 1px solid red;
}
.each{
    border: 3px solid yellow;
}
.each1{
    border: 3px solid blue;
}
.each2{
    border: 3px solid green;
}
.each3{
    border: 3px solid red;
}
h2{
    font-style:italic;
}

.chain{
    list-style:none;
    padding:0;
    display: flex;
}
.chain li{
    margin-right: 5px;
    font-size: 18px;

}
.chain li:first-child::before{
    content: " >> ";
    color: white;
}
.chain li::after{
    content: " / ";
    color:white;
}
.chain li:last-child::after{
    content: "";
}