
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #ffffff;
    margin: 0;
    padding: 0;

}.top-button{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px;
 }

.background-image {
    background-image: url('/images/back.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensures the text is on top of the image */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0073e6;
}

#intro {
    margin: 20px;
    text-align: justify;
}

#intro img {
    border: 3px solid #ff6347;
    margin-right: 15px;
    width: 150px;
    float: left;
}

h2 {
    font-style: italic;
    color: #333;
}

h3 {
    background-color: #f0f0f0;
    padding: 10px;
}

ul {
    list-style-type: lowercase;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
