body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkblue;
}

.container {
    display: grid;
    grid-template-areas:
        "top1 top2"
        "main main"
        "footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr; 
    height: 100vh;
}

.top1, .top2 {
    padding: 20px;
}

.top1 {
    grid-area: top1;
    background: lightblue;
    margin-right: 5px;
}

.list-side {
    background-color: darkblue;
    color:white;
}

.top2 {
    grid-area: top2;
    background: lightblue;
}

.list-right {
    background-color: blue;
}

.main {
    grid-area: main;
    background: lightyellow;
    margin:5px;
}

.main {
    display: grid;
    grid-template-areas:
        "main-header image-row";
    grid-template-rows: auto;
    grid-template-columns: 5fr 1fr;
    background-color: darkblue;
}

.main-header {
    grid-area: main-header;
    background-color: lightblue;
    margin-right: 5px;
    color:white
}





ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.top1 li {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top1 li:nth-child(odd):hover {
    background: green;
}

.top1 li:nth-child(even):hover {
    background: darkgray;
}


.hidden {
    display: none;
    background-color: purple;
}

.main h1:hover + .hidden {
    display: block;
}

/* this is the odd year*/
.top2 li[data-clue="1 year"]:hover::after {
    content: attr(data-clue);
    margin-left: 10px;
    font-style: italic;
    color: white; 
}
/* this is the even year*/
.top2 li[data-clue="2 year"]:hover::after {
    content: attr(data-clue);
    margin-left: 10px;
    font-style: italic;
    color: red;
}

.top2 li[data-clue="3 year"]:hover::after {
    content: attr(data-clue);
    margin-left: 10px;
    font-style: italic;
    color: white; 
}

.top2 li[data-clue="4 year"]:hover::after {
    content: attr(data-clue);
    margin-left: 10px;
    font-style: italic;
    color: red; 
}

.image-row {
    grid-area: image-row;
    display: grid;
    place-items: center; 
    background-color: lightblue; 
    padding: 1px; 
}

.image-row img {
    height: auto; 
}
.footer {
    grid-area: footer;
    text-align: center;
    background-color: blue;
    
}
.foot{
    background: linear-gradient(to right,red, yellow);

}

