* {
    color: rgb(1, 1, 69);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    line-height : 1.2;
    color: #ffffff;
}
li a{
    text-decoration: none;
}
a{
    text-decoration: none;
}

.web-links{
    list-style: inside;
}

.web-links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
}
.web-links {
    display: flex;
    justify-content: flex-end;
}
.sticky-buttons {
    position: fixed;
    top: 44%;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: auto;
}
.but1{
    border-radius: 15px;
    border : #06283D;
    border-color: black;
}
.top-button{
    border-radius: 15px;
    border : 1px solid #ff6347;
}
.t-top{
    display: flex;
    align-items: center;
    margin-left:10px;
    justify-content: space-between;
}


.pp{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.round{
    width: 300px;
    height: 310px;
    border-radius: 50%;



}
H2{
    font-size: 40px;
    text-align: center;
    font-style:italic;

}
H5{
    text-align: center;
    font-size: 30px;
}
p,em,strong{
    color: white;
    text-align: center;
    font-size: 10px;
}

.logo{

    height: 40px;

}
.name-add{
    font-size: 20px;
}


.profile-web{
    gap:10rem;
    list-style: none;
    font-size: 15px;
}
.profile-web {

    justify-content: center;
}
.education{
    gap:10rem;
    list-style: none;
    font-size: 15px;
}
.education {

    justify-content: center;
}
.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}

.jobs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 20px;
    padding: 0;
}

.company {
    width:350px;
    background: black;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid #333333;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job-details, .job-details1 {
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin-top: 2rem;
}

.job-details li, .job-details1 li {
    margin-bottom: 0.5rem;
}

.button {
    background-color: #06283D;
    border: white;

    color: #eeeae3;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight:bold;

}
.button1 {
    border-radius: 12px;
    opacity: 0.9;
}
.header{
    text-align: center;
    line-height: 1.5;
}


.small-text {
    font-size: 0.8em;
    color: white;
}
ul {
    font-size: 10px;
    text-align: center;
}
.skills{

    padding: 2rem 1.5rem;
    border-radius: 1rem;
    align-items: center;
}
.skills__title{

    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
    align-items: center; /* Align items vertically in the center */
    gap: 1rem; /* Adds space between the images */
}

.skill-icon {
    background: black;
    padding: 0.5rem; /* Adjust padding inside each image */
    border-radius: 3rem; /* Rounded corners */
    border: 0.1rem solid #333333; /* Light border around the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Optional shadow */
    height: 70px; /* Fixed height for each image */
    width: 70px; /* Fixed width for each image */
    object-fit: cover; /* Ensures the image fits within the box */
}
.skill-icon1 {
    background: black;
    padding: 0.5rem; /* Adjust padding inside each image */
    border-radius: 3rem; /* Rounded corners */
    border: 0.1rem solid #06283D; /* Light border around the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Optional shadow */
    height: 70px; /* Fixed height for each image */
    width: 70px; /* Fixed width for each image */
    object-fit: cover; /* Ensures the image fits within the box */
}
.skill-icon2 {
    background: black;
    padding: 0.5rem; /* Adjust padding inside each image */
    border-radius: 3rem; /* Rounded corners */
    border: 0.1rem solid #0073e6; /* Light border around the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Optional shadow */
    height: 70px; /* Fixed height for each image */
    width: 70px; /* Fixed width for each image */
    object-fit: cover; /* Ensures the image fits within the box */
}
.skill-icon3 {
    background: black;
    padding: 0.5rem; /* Adjust padding inside each image */
    border-radius: 3rem; /* Rounded corners */
    border: 0.1rem solid #ff6347; /* Light border around the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Optional shadow */
    height: 70px; /* Fixed height for each image */
    width: 70px; /* Fixed width for each image */
    object-fit: cover; /* Ensures the image fits within the box */
}
.experience{
    border-bottom: 1px solid #ff6347;
}
.Profile12{
    border-bottom: 1px solid red;
}
.xux{
    border-bottom: 1px solid red;
}
