* {
    color: rgb(1, 1, 69);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    line-height : 1.2;
    color: #ffffff;
}
.web-links{
    list-style: inside;
}

.web-links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
}
.web-links {
    display: flex;
    justify-content: flex-end;
}

.pp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.round{
    width: 300px; /* Set the width */
    height: 300px; /* Set the height */
    border-radius: 50%; /* This makes it round */
    object-fit: cover; /* Ensures the image scales well */
}
H2{
    font-size: 40px;
    text-align: center;
}
H5{
    text-align: center;
    font-size: 30px;
}
p{
    font-size:20px;
}
.logo{

    height: 40px;

}
.name-add{
    font-size: 20px;
}
.profile-web{

}

.profile-web{
    gap:10rem;
    list-style: none;

}
.profile-web {
    display: ;
    justify-content: normal;
}
.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.button {
    background-color: #06283D; /* Green */
    border: white;

    color: #eeeae3;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight:bold;

}
.button1 {
    border-radius: 12px;
    opacity: 0.9;
}
.header{
    text-align: center;
    line-height: 1.5;
}
p,em,strong{
    color: white;
    text-align: center;
    font-size: 10px;
}

.profile{
    font-size: 11px;
}
.small-text {
    font-size: 0.8em; /* Adjust size relative to the parent font */
    color: white; /* Optional: change color for emphasis */
}
ul {
    font-size: 9px; /* Adjust the font size here */
    text-align: center;
}
.skills{

    padding: 2rem 1.5rem;
    border-radius: 1rem;
    align-items: center;
}
.skills__title{

    text-align: center;
}
.skill-items{

}
.skill-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px; /* Padding inside the box */
    border: 1px solid #555; /* Border around the box */
    border-radius: 15px; /* Rounded corners */
    background-color: black; /* Background colorwhat of the box */

    height:30px;


}